.movies-list {
  background-color: #202020;
  padding: 70px 70px 0;
  display: flex;
  flex-direction: column;
}

.movies-list__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 32px 28px;
  list-style-type: none;
  padding: 0;
  margin: 0 0 10px;
}

.movies-list__add-btn {
  margin: 50px 0 80px;
  align-self: center;
  width: 320px;
  height: 36px;
  background-color: inherit;
  outline: none;
  border: 1px solid #424242;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: white;
  cursor: pointer;
}

.movies-list__add-btn:hover {
  transition: 0.8s;
  background-color: #ee3465;
}

.movies-list__add-btn_disabled {
  opacity: 0;
}

.hidden {
  display: none;
}

.movies-list__no-saved-films {
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.movies-list__not-found {
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.movies-list__error {
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .movies-list {
    padding: 70px 30px 0;
  }

  .movies-list__items {
    gap: 35px 24px;
    margin: 0 0 30px;
  }
}

@media screen and (max-width: 700px) {
  .movies-list {
    padding: 40px 10px 0;
  }

  .movies-list__items {
    gap: 16px;
  }

  .movies-list__add-btn {
    width: 240px;
    height: 36px;
  }
}
