.portfolio {
  padding: 100px 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 50px 0;
  color: #8b8b8b;
}

.portfolio__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.portfolio__links-item {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #424242;
  margin: 0 0 20px;
  transition: 0.3s;
}

.portfolio__links-item:last-of-type {
  margin: 0;
  padding: 0;
  border-bottom: unset;
}

.portfolio__link {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: #fff;
  padding: 0 0 9px;
}

.portfolio__link::after {
  width: 29px;
  height: 60px;
  content: "";
  float: right;
  background: url(../../images/portfolioLinkArrow.png);
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio__link:hover {
  transition: 0.3s;
  opacity: 0.1;
}

.portfolio__links-item:hover:nth-of-type(-n + 2) {
  border-bottom: 1px solid #fff;
}

.portfolio__links-item:last-of-type:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .portfolio {
    padding: 90px 0 0;
  }

  .portfolio__links-item {
    border-bottom: 1px solid #e6e6e6;
  }

  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 550px) {
  .portfolio {
    padding: 70px 0 0;
  }

  .portfolio__title {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 40px;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    padding: 0 0 19px;
  }

  .portfolio__link::after {
    width: 18px;
    height: 28px;
    background-size: 10px 10px;
  }
}
